/* el asterisco es para que abarque todo */

body{
    margin: 0px; /* esto dice que no hay margen */
    background-color: white;
    /*background-image: url("");*/
    margin-left: 20%;
    margin-right: 20%;
    /*border: 2px dotted rgb(255, 140, 0); dotted le pongo puntitos*/
    padding: 10px 10px 10px 10px; /*es el espacio entre el borde y el contenido*/
    font-family: Georgia, 'Times New Roman', Times, serif; /* es el estido de la fuenta*/
    background-repeat: no-repeat; 
    background-size:100% /*es para que ocupe el 100% de la pnatalla*/
}
/* no me funciona lo del body */
div{
    padding: 20px
}

#main{
    background-color: rgb(255, 106, 0);
}


/*
#Productos {
    background-color: rgb(255, 106, 0);
    display:flex;
    flex-direction: row
}
*/

#feedback{
    background-color: whitesmoke;
}


nav{
    background-color: rgb(241, 217, 195);
    display:flex;
    flex-direction: row;
    height: 110px;
}
/* como en index.html hay solo un nav, no le tengo que poner ninguna referencia */
/* mediante flex transformamos la botonera, estaba abajo de la imagen y ahora al costado */

nav ul {
   display: flex /* esto es para que las listas adentro del nav las muestre como un flex */
}


nav li{
    margin-left: 20px;
    list-style: none; /* esto le saca el punto a inicio, sobre nosotros y contacto */
}

nav a{
    text-decoration: none; /* esto le saca el subrayado a inicio, sobre nosotros y contacto */
    color:rgb(0, 0, 0)
}

nav a:hover{
    color: rgb(248, 248, 248);
    background-color: rgb(255, 106, 0);
}
/* esto es para colorear el fondo de inicio, sobre nosotros y contacto cuando pasas el mouse por encima */

nav img{
    display: flex;
    max-height: 115px;
    width: auto
}
/* esto es para que la imagen tenga un tamaño de 50vw, que es el 50% del ancho de la pantalla */
/* hay que agregarle display flex pq esta adentro del nav */

.menuButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 20px
}
/* esto es para alinear al centro inicio, sobre nosotros y contacto */


#elixirs { /*saca una div del flujo de navegacion y lo muestra a la derecha*/
    border: thin solid;
    border-color: rgb(255, 106, 0);
    width: 200px;
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
    text-align: center;
    background-image:none;
    background-repeat: rgb(255, 106, 0);
    line-height: 1;
    float: right

}
.roww{
    display: flex;
    justify-content: space-between;

}
.cookie{
    display: flex;
    order: 2

}